@inherits LayoutComponentBase
@inject AuthenticationStateProvider StateProvider

<BlazoredToasts/>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4">
            @if (IsAuthenticated)
            {
                <NavLink href="/Authentication/SingOut" Match="NavLinkMatch.All">
                    Logout
                </NavLink>
            }
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {

    private bool IsAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsAuthenticated = (await StateProvider.GetAuthenticationStateAsync()).User?.Identity?.IsAuthenticated == true;
    }

}