@using RestSharp
@using VkDownloader.Pages

@inject NavigationManager NavigationManager;
@inject VkAuthLogic VkAuthLogic;

<h3>VkAuthComponent</h3>

@code {

    private void VkLogin()
    {
        NavigationManager.NavigateTo(VkAuthLogic.BuildAuthDialogUri().ToString());
    }
}

<div>
    <button class="btn btn-success" @onclick="VkLogin">VK Login</button>
</div>