@page "/"
@using System.Threading
@using Microsoft.Extensions.Logging
@using VkDownloader.Vk.Wall

@attribute [Authorize]

@inject VkImagesService ImagesService;
@inject WallStateStorage WallStateStorage;
@inject IToastService Toaster;
@inject ILogger<VkImages> Logger;

<div class="px-4 form-group position-sticky d-sm-flex">
    <DebounceInput class="form-control mr-md-1 w-auto" placeholder="VK ground link/name" OnValueChanged="ChangeGroup"
                   @bind-Value="@WallState.GroupName" @bind-Value:event="OnInput"
                   ForceNotifyByEnter="true"
                   ForceNotifyOnBlur="true"/>

    <DebounceInput class="w-auto form-control mr-md-1" OnValueChanged="() => PageLock(Reload)"
                   @bind-Value="DisplayOffset" @bind-Value:event="OnInput"
                   ForceNotifyByEnter="true"
                   ForceNotifyOnBlur="true"/>
</div>

<div>
    Recommended groups:
    <ul>
        @foreach ((string name, string link) in RecommendedLinks)
        {
            <li @onclick="async () => await PageLock(() => ChangeGroup(link))">@name</li>
        }
    </ul>
</div>

<div>
    <InfiniteScroll ObserverTargetId="scroll-end" ObservableTargetReached="async e => await PageLock(() => FetchNextImages(true))">
        <ul style="list-style-type: none">
            @foreach (string link in FetchedLinks)
            {
                <li>
                    <img src="@link"/>
                </li>
            }
            <li id="scroll-end"></li>
        </ul>
    </InfiniteScroll>

</div>

@code {

    private static readonly Dictionary<string, string> RecommendedLinks = new()
    {
        {"Кхе-кхе", "khe_kkhe"},
        {"Котизм", "catism"}
    };

    private readonly SemaphoreSlim _semaphore = new(1);
    private CancellationTokenSource _fetchCts = new();
    private Task _lastUpdate;


    private WallState WallState { get; set; } = new(string.Empty, 0);

    private string DisplayOffset
    {
        get => WallState.Offset.ToString();
        set => WallState.Offset = int.Parse(value);
    }

    private int LoadedCount { get; set; }
    private bool LoadRequested { get; set; }
    private List<string> FetchedLinks { get; set; } = new();


    private async Task PageLock(Func<Task> action, TimeSpan? timeout = null)
    {
        bool entered = await _semaphore.WaitAsync(timeout.GetValueOrDefault());
        if (!entered) return;
        try
        {
            await action();
        }
        finally
        {
            _semaphore.Release();
        }
    }

    private async Task FetchNextImages(bool infiniteScroll)
    {
        const int countPerLoad = 10;
        if (string.IsNullOrWhiteSpace(WallState.GroupName)) return;
        if (_lastUpdate?.IsCompleted == false) return;

        if (infiniteScroll && !LoadRequested) return;
        try
        {
            LoadRequested = true;

            var fetchedLinks = await ImagesService.GetImagesAsync(new UserOrGroupName(WallState.GroupName), countPerLoad, WallState.Offset, _fetchCts.Token);
            LoadedCount += countPerLoad;
            WallState.Offset += countPerLoad;

            FetchedLinks.AddRange(fetchedLinks);

            await WallStateStorage.SaveLastViewedWall(WallState);
        }
        catch (TaskCanceledException)
        {
        }
        catch (Exception e)
        {
            Logger.LogError(e, "Unexpected error");
            Toaster.ShowError($"Unexpected error:{e.Message}");
        }
        finally
        {
            _lastUpdate = Task.Delay(TimeSpan.FromMilliseconds(300));
            _semaphore.Release();
        }
    }

    private void ClearImages()
    {
        LoadRequested = false;
        FetchedLinks = new List<string>();
    }

    private async Task ChangeGroup(string groupName)
    {
        WallState.Offset = 0;
        WallState.GroupName = groupName;

        await Reload();
    }

    private async Task Reload()
    {
        ClearImages();
        _fetchCts.Cancel();
        _fetchCts = new CancellationTokenSource();
        await FetchNextImages(false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            WallState = await WallStateStorage.GetLastViewedWall() ?? WallState;
            await PageLock(() => FetchNextImages(false));
            StateHasChanged();
        }
    }

}